.CandidatureHeaderCard {
    height: 50px;
    border-bottom: 1px solid dimgray;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.body-candidatures {
    margin: 50px auto auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.top-body-card-candidate {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-candidature {
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.border {
    border-bottom: 0.1em solid gray;
    height: 0.01rem;
    width: 90%;
    margin: 15px 5%;
}

.btnArea {
    height: 20%;
}

.button {
    background-color: #23b2a4;
    border: none;
    border-radius: 15px;
    width: 30%;
    height: 35px;
    color: white;
    cursor: pointer;
    margin: auto;
}

.JobType {
    color: dimgray;
    margin-left: 30px;
}
.jobtitle {
    color: #23b2a4;
    text-align: center;
    margin: auto;
}
.jobDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 150px;
    margin-top: 15px;
}

@media screen and (max-width: 1060px) {
    .body-candidatures {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 730px) {
    .body-candidatures {
        grid-template-columns: repeat(1, 1fr);
    }
}