.card-candidate {
    height: 200px;
    min-width: 425px;
}

.fullspace {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f7f7f7;
    cursor: pointer;
}

.left-part {
    width: 100%;
    height: auto;
}

.left-part img {
    margin-top: 20px;
    width: auto;
    height: 80%;
    border-radius: 50%;
    margin-left: 15px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 60%;
}

.logo div img {
    display: block;
    width: 80%;
    margin: auto;
}

.logo div {
    width: 30%;
}

.right-part {
    color: #23b2a4;
}

.right-part div {
    margin-top: 15px;
}

.contain {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

@media screen and (max-width: 1130px) {

    .card-candidate {
        margin: auto;
    }

    .contain {
        width: 80%;
        margin: 50px auto auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    }
}